doctype html
html(lang='pt-BR')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Lumina - Tecnologia que ilumina
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Instrument+Serif:ital@0;1&family=Outfit:wght@300;400;500;600&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/styles/style.css')
    link(rel="shortcut icon", href="/images/lumina.png", type="image/x-icon")
  body
    block content
